@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    /* background-color: silver; */
}


body {
    /* background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ8NDQ0NFREWFhURExMYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNyg5LisBCgoKBQUFDgUFDisZExkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAKgBLAMBIgACEQEDEQH/xAAaAAEBAQEBAQEAAAAAAAAAAAAAAQIDBAcF/8QAJhABAAICAQQCAgIDAAAAAAAAAAERAhJRAyExYUGRE3HB8CKhsf/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwD7iAAAAAAAAAAAAAAAAAAAAAACWCiWlgpaWlg1aWlgLaWllgtjNlgtls2WC2WzZYO4AAAAAAAAAAAAAAJYKIgNJaWlg1aWlgLaWhYLaWlgLZaJYLYgAJabA0iWmwNDGybA2Uxcm0g9YAAAAlgKIAogCogCjNlgozZYNIzZYNWiWlg0JZYAWWAkiAWkyIBaWAJaoATIAAgCoAPWCAogCpaALaWIC2WJQLYUUAigIlNLQMUU1RQM0tNUkgzRMkoCSiygIWkpILsbQzMsg6DFrEg1SGygyKAgtABSwtA9AzsbAomxsChsmwKJsmwNUM7GwNDOxsDYxsbA3QzZYNDNlgqSllgSyqAzKNM0DMo0lAzRTVAM0NUXAJRBsX6BqGqcpyk2nn/UA60U5x1Ja3ngGqVmOpH6bivQOe5skY2aguy7s6moNbmzNLoBORssYmoJcqlFAoUUB3LUmQNzdmWZx4B12NnG5hYyB1scp6kftNpkHacqT8kOcYrqDW/pN49pEKC3BTMwz35BuZSyJ5aoGKNXTVaBz1KbooHOjV01WgctViG6KBmk1boBMf8AHtPj/jrrDGeLnjlOPafH/AdtYNEiVsF0NU2NgNSl2NgZmEnFuwGKG6ZygGZllqYZmQEtiepwz3nyDU9TjuxON/3s1ELYMRjMNxKbMZfQO2y7PLvMNR1AeiGnnjqNxmDqurEZOmMgxqRcOrMwBE2rGrUZgtFM5dWP2xOcz6/QOk5RHlierxDMYrEAm2U/NfpO/M/bdAOdTzP2bZculGoOls5YpCg5xnr2nw6RMT4Zyi/LnOM494+gdktjHqffDWwNbGyXBQNRLUS5+PlmepxFg7WzOcR5cbylccQanKZ8RTGs/LpELYOeiTi3LnkDOTEy1MM0DO0lrRQMzLM48OlAOcS6YyTEOc5UD0Y5OkZvJHUX8kR8g9kZNbw8H5pnx2XGbB6surw5ZXPlcG9Qc8Zry6QfjIigW1WIXUEGqaiAZiGtVqk2Bz/JE/EwR1Y+Z/05qDpvjyTljy5xENRiDOU4/wBhn8se5ddYTSAYjKZ8R/K1lPyuleGozrzAMxgaukTEkwDC7JlDGVg3uk5OUzLO08A7WluVydwdJSYZj9qDMyjok4AxMszk1OCa+gY7pMxHtvSZI6YPPlGU+O3qExx5euMFnpxPkHHGHXGGJwr21jIO2LrjLhi64g6JquLQMR2bjuTTM50DpSTk4z1nPLqg7ZZuU5sXag6UlNpIMTBGUw0kwDUdWPmG4qfEuMwlA70xk5z1Jj2sdbmASYWMphd8T/HkCOotxPylRzBrHIJOLM4S1Ucl+wc9ZNXTZLn19AzGC0tS1EAz3NZdKUGIwXRqigTWEqOGqAYpNYdKSgYpnLpx8dnRmZBy8eW8c0yycc/U0D1R1YX80Pz5ymPbP5Z/QPfl1XPLqPPjm3Eg1awkLANRLWyR05n4/huOhPIO1JQAiAASgDnMGoAarqALGK6qAuq6gCxg1oAGq6gBRQAUUACTMADM5MZZgDnlm5zmAMTMpqgC6NRiAN44RxH06Y9OOIAHSMI4j6bigALAH//Z'); */
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiTWvslmXXXk5UJ_Y3GbdAWRFpkgs3TTHUcg&usqp=CAU');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: space-between;

    background-color: white;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;

    box-shadow: 0px 0px 10px rgb(51, 51, 51);

    z-index: 100;
}


#logo img {
    height: 78px;
    text-align: center;
    padding: 20px;
}

#information {
    text-align: right;
    padding: 10px;
    font-size: 20px;

}

#information #number {
    font-size: 24px;
    font-weight: 700;
}

#information #adress {
    font-size: 16px;
}

#button-test-drive {
    position: fixed;

    border-radius: 100%;
    text-align: center;
    height: 70px;
    width: 70px;
    background-color: silver;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid silver;

    box-shadow: 3px 3px 10px rgb(112, 112, 112);
}

#button-test-drive p {
    padding: 3px;
    font-size: 8px;

    animation: pulse 4s infinite;
}

/* Анимация "pulse" */
@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

#price {
    width: 90%;
    margin-left: 5%;
    margin-top: 80px;

    font-size: 32px;
    font-weight: 600;
    padding: 100px;
    text-align: center;
}





#chat {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 50px;
    border-radius: 30px;



    scroll-snap-align: end;

    background-color: rgb(231, 231, 231);

    box-shadow: 5px 5px 15px rgb(112, 112, 112);
}

#header-chat {
    background-color: rgb(220, 220, 220);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;

    height: 30px;
}

#chat-bot-message {
    display: flex;
    width: 95%;
    justify-content: flex-start;

    font-size: 0.75em;

    margin-top: 1%;
    padding: 1% 2%;
    margin-left: 1%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
}

#chat-user-message {
    display: flex;
    width: 93%;
    margin-left: 5%;
    justify-content: flex-end;
    font-size: 0.75em;

    margin-top: 1%;
    padding: 1% 2%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
}

.avatar {
    position: relative;
    /* overflow: hidden; */
    aspect-ratio: 6.75/6;
    height: 50px;

    flex: 2 1 30%;
    max-width: 50px;
    min-width: 50px;
}

.avatar img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* object-fit: cover; */
    border-radius: 100%;

    width: 50px;
    height: 50px;
}

.comment-bot-text {

    margin-left: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 0px 15px 15px 15px;
    margin-top: 5px;

    box-shadow: 3px 3px 10px rgb(112, 112, 112);
}

.comment-user-text {
    text-align: end;
    margin-left: 10px;
    background-color: lightblue;
    padding: 10px;
    border-radius: 15px 15px 0px 15px;
    margin-top: 5px;

    box-shadow: 3px 3px 10px rgb(112, 112, 112);
}

.chat-bot-message {
    display: flex;
    width: 90%;


    padding: 10px;

}

.chat-user-message {
    display: flex;
    width: 80%;

    padding: 10px;

}

.chat-bot-message img {
    max-width: 250px;
    /* Ограничение ширины изображений до ширины контейнера */
    height: auto;
}

.selection-button-text {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 10px rgb(112, 112, 112);
}

.selection-button-text:hover {
    border: 1px solid silver;
    background-color: silver;
}

.selection-button-text p {
    padding: 15px 0;
}

.selection-buttons {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 2.5%;
    margin-left: 70px;
    ;
}



.selection-color-text {
    display: flex;
    flex-direction: row;

    border: 1px solid white;
    padding: 10px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 3px 3px 10px rgb(112, 112, 112);
}

.selection-color-text:hover {
    border: 1px solid silver;
    background-color: silver;
}

.selection-color-text p {
    padding: 0 15px;
}

.selection-colors {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 80%;
    gap: 10px;
    margin-bottom: 2.5%;
    margin-left: 70px;
}

#color-white,
#color-black,
#color-green,
#color-green-balack-roof,
#color-silver,
#color-silver-balack-roof,
#color-grey,
#color-grey-balack-roof {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 20%;
}

#color-white {
    background-color: white;
}

#color-black {
    background-color: black;
}

#color-green {
    background-color: olive;
}

#color-green-balack-roof {
    background-color: olive;
}

#color-silver {
    background-color: silver;
}

#color-silver-balack-roof {
    background-color: silver;
}

#color-grey {
    background-color: grey;
}

#color-grey-balack-roof {
    background-color: grey;
}

#button-option-list {
    background-color: rgb(225, 225, 225);
    border: 1px solid rgb(225, 225, 225);
    padding: 7px 10px;
    border-radius: 20px;
}

#button-option-list:hover {
    border: 1px solid silver;
    background-color: silver;
}





#footer {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;

    text-align: center;

    color: grey;

    font-size: 10px;
}

@media (min-width: 1401px) {
    #button-test-drive {
        position: fixed;
        right: 50px;
        top: 200px;


    }

    #button-test-drive p {
        padding: 5px;
        font-size: 12px;
    }

    #chat {
        width: 50%;
        margin-left: 25%;
    }
}

@media (min-width: 801px) and (max-width: 1400px) {
    #button-test-drive {
        position: fixed;
        right: 50px;
        bottom: 100px;
    }

    #button-test-drive p {
        padding: 5px;
        font-size: 12px;
    }

    #chat {
        width: 70%;
        margin-left: 15%;
    }
}

@media (max-width: 800px) {
    #header {
        display: block;

        text-align: center;

        background-color: white;
        width: 100%;
        height: 100px;
        border-bottom: 1px solid black;

        box-shadow: 0px 0px 10px rgb(51, 51, 51);
    }

    #logo img {
        height: 40px;
        text-align: center;
        padding: 0px;
        margin-top: 5px;
    }

    #information {
        text-align: center;
        padding: 0px;

        width: 90%;
        margin-left: 5%;
    }

    #information #number {
        font-size: 20px;
        font-weight: 700;
    }

    #information #adress {
        font-size: 12px;
    }

    #price {
        width: 80%;
        margin-left: 10%;
        margin-top: 100px;

        font-size: 20px;
        font-weight: 800;

        padding: 50px 0;
        text-align: center;
    }

    #button-test-drive {
        position: fixed;
        right: 50px;
        bottom: 100px;
    }

    #button-test-drive p {
        padding: 5px;
        font-size: 12px;
    }

    #chat {
        width: 90%;
        margin-left: 5%;
    }

    .chat-bot-message img {
        max-width: 200px;
        /* Ограничение ширины изображений до ширины контейнера */
        height: auto;
        /* Автоматическое определение высоты для сохранения пропорций */
        margin: 5px;
        /* Добавьте отступы между изображениями по вашему усмотрению */
    }
}
